# Streamlit & UI
streamlit==1.49.1
streamlit-folium==0.14.0

# PyTorch CPU
torch==2.8.0+cpu
torchvision==0.15.1+cpu

# Data & ML
numpy==1.26.0
pandas==2.1.1
matplotlib==3.8.0
joblib==1.3.2

# Map / Folium
folium==0.14.0
requests==2.31.0
